html 
    head
    title View User Data
    body
        h2 User Data 
        div 
            table(style ={border: '1px solid black'}) 
                tr(style ={border: '1px solid black'})
                    th(style ={border: '1px solid black'}) ID
                    th(style ={border: '1px solid black'}) First name
                    th(style ={border: '1px solid black'}) Last name 
                    th(style ={border: '1px solid black'}) Email 
                    th(style ={border: '1px solid black'}) Gender
                    th(style ={border: '1px solid black'}) Gender
                    th(style ={border: '1px solid black'}) Title
                    th(style ={border: '1px solid black'}) Age
                each val in users
                    tr
                        td= val.id 
                        td= val.first_name
                        td= val.last_name
                        td= val.email
                        td= val.gender
                        td= val.title 
                        td= val.age 
                        td 
                            a(href='/editUser/' + val.id)
                                button Edit
                        td                             
                            form(action="/delete/" + val.id, method='post')
                                button(type='submit') Delete